<main class="container">

    <nav class="navigation">
        <div class="container-nav">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
    
                </ul>
       </div>
    </nav>

    <section class="section-3">
        
        <div class="container-box-3">
               <div class="box-3">
                <a href="https://www.linkedin.com/in/jos%C3%A9-augusto-36a38b22b/"><i class="fa-brands fa-linkedin"></i></a>
            
               </div>
               <div class="box-3">
                <a href="https://github.com/38061027"><i class="fa-brands fa-github"></i></a>
                <p>https://github.com/38061027</p>
               </div>
               <div class="box-3">
                <i class="fa-solid fa-envelope"></i>
                <p>joseaugustoibo321@gmail.com</p>
               </div>
               <div class="box-3">
                <i class="fa-solid fa-phone"></i>
                <p>(87) 8113-7326</p>
               </div>
        </div>

    </section>

    
    <footer >

        <div class="footer-caixa">

            <div>
              Footer
            </div>
        </div>

    </footer>

    
    </main>