<main class="container">

  

    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1><a routerLink="">Port<a class="second">fólio</a></a></h1>
            </div>


            <div class="nav-list">

                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
            </div>

            <div class="button-cv">
                <button><a href="#">Baixar CV</a></button>
            </div>

            
            
            
            
            <div class="mobile-menu">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
                
                <div class="button-cv">
                    <button><a href="#">Baixar CV</a></button>
                </div>
            </div>
            
            <div class="menu-icon">
                <button (click)="funcaoCompartilhada()"><i class="material-symbols-outlined">menu</i></button>
            </div>
        </nav>
    </header> 



    <section class="section-3">
        
        <div class="container-box-3">
            <div class="title">
                <h1>Contatos</h1>
            </div>
    
               <div class="box-3">
                <a href="https://www.linkedin.com/in/jos%C3%A9-augusto-36a38b22b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            
               </div>
               <div class="box-3">
                <a href="https://github.com/38061027" target="_blank"><i class="fa-brands fa-github"></i></a>
                <p>https://github.com/38061027</p>
               </div>
               <div class="box-3">
                <i class="fa-solid fa-envelope"></i>
                <p>joseaugustoibo321@gmail.com</p>
               </div>
               <div class="box-3">
                <i class="fa-solid fa-phone"></i>
                <p>(87) 8113-7326</p>
               </div>
        </div>

    </section>

    <footer >

        <div class="footer-caixa">

            <div>
                &#169; José Augusto
            </div>
        </div>

    </footer>

    
    

    
    </main>