<main class="container">


    <section class="section-3">

        <div class="container-box-3">
            <div class="title">
                <h1>Contatos</h1>
            </div>

               <div class="box-3">
                <a href="https://www.linkedin.com/in/jos%C3%A9-augusto-36a38b22b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>

               </div>
               <div class="box-3">
                <a href="https://github.com/38061027" target="_blank"><i class="fa-brands fa-github"></i></a>
                <p>https://github.com/38061027</p>
               </div>
               <div class="box-3">
                <i class="fa-solid fa-envelope"></i>
                <p>joseaugustoibo123@gmail.com</p>
               </div>
               <div class="box-3">
                <i class="fa-solid fa-phone"></i>
                <p>(87) 8113-7326</p>
               </div>
        </div>

    </section>

    <footer >

        <div class="footer-caixa">

            <div>
                &#169; José Augusto
            </div>
        </div>

    </footer>





    </main>
