<main class="container">
  



    <section class="section-2">
<div class="container-box-2">

            <div class="title">
                <h1>Projetos</h1>
            </div>



           <div class="container-box">


                         <!-- coluna 1 -->

           <div class="container-box-1">

               <div class="box-1">
                   <span class="material-symbols-outlined">
                       public
                       </span>
                   <h3>Web Site</h3>

                   <button><a href="https://38061027.github.io/Web-site/" target="_blank">Ver mais</a></button>
               </div>
               <div class="box-1">
                       <span class="material-symbols-outlined">
                           fitness_center
                           </span>
                   <h3>Calculadora IMC</h3>

                   <button><a href="https://38061027.github.io/calcular-imc/" target="_blank">Ver mais</a></button>
               </div>
               <div class="box-1">
                   <span class="material-symbols-outlined">
                       sunny
                   </span>
                   <h3>Weather App</h3>

                   <button><a href="https://38061027.github.io/Weather-App/" target="_blank">Ver mais</a></button>
               </div>
           </div>



           <div class="container-box-1">

                <div class="box-1">
                    <span class="material-symbols-outlined">
                        wallpaper_slideshow
                        </span>
                    <h3>Galeria</h3>

                    <button><a href="https://38061027.github.io/Galeria/" target="_blank">Ver mais</a></button>
                </div>
                <div class="box-1">
                    <span class="material-symbols-outlined">
                        tv
                        </span>
                    <h3>Netflix Clone</h3>

                    <button><a href="https://38061027.github.io/netflix-clone/" target="_blank">Ver mais</a></button>
                </div>
                <div class="box-1">
                    <span class="material-symbols-outlined">
                        calculate
                        </span>
                    <h3>Calculador De Notas</h3>

                    <button><a href="https://38061027.github.io/calcular-notas/" target="_blank">Ver mais</a></button>
                </div>



            </div>

            <div class="github">
                <h2>Quer ver mais?</h2>
                <h2>Acesse meu GitHub</h2>
                <br>
                <i class="fa-solid fa-arrow-down"></i>
                <button><a href="https://github.com/38061027" target="_blank">Ver no GitHub</a></button>
            </div>


           </div>


</div>
    </section>




</main>
