<main class="container">




    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1><a routerLink="">Port</a></h1>
            </div>


            <div class="nav-list">

                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos" >Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
            </div>

            <div class="button-cv">
                <button><a href="#">Baixar CV</a></button>
            </div>

            
            
            
            
            <div class="mobile-menu">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
                
                <div class="button-cv">
                    <button><a href="#">Baixar CV</a></button>
                </div>
            </div>
            
            <div class="menu-icon">
                <button (click)="funcaoCompartilhada()" class="btn-show"><i class="material-symbols-outlined">menu</i></button>
            </div>
        </nav>
    </header>






    <div class="section-1">
        <section>


            <div class="circulo">
        
            </div>

            <div class="texto">
                <h1>Olá, meu nome é José Augusto</h1>
                <h4>Sou um desenvolvedor front-end apaixonado por tecnologia e com habilidades em Angular, JavaScript, CSS3 e HTML5. Embora não tenha experiência profissional, tenho trabalhado em projetos pessoais e acadêmicos para aprimorar minhas habilidades e conhecimentos em programação.</h4>
            </div>

        </section>
    </div>




</main>

