<main class="container">
        <nav class="navigation">
            <div class="container-nav">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="/projetos">Projetos</a></li>
                        <li><a routerLink="/sobre">Sobre Mim</a></li>
                        <li><a routerLink="/tec">Tecnologias</a></li>
                        <li><a routerLink="/contato">Contato</a></li>

                    </ul>
           </div>
        </nav>

        <div class="section-1">
            <section>
                
               
                    <div class="circulo">
                       <img src="https://amanha.com.br/images/p/15603/Bruno-de-Oliveira.jpg" alt="">
                    </div>

                        <div class="texto">
                            <h1>Olá, meu nome é José</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        </div>
             
            </section>
        </div>

        
    
    
    </main>

   