<main class="container">
<!-- 
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1><a routerLink="">Portfólio</a></h1>
            </div>


            <div class="nav-list">

                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
            </div>

            <div class="button-cv">
                <button><a href="#">Baixar CV</a></button>
            </div>
            
            
            
            
            <div class="mobile-menu">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
                
                <div class="button-cv">
                    <button><a href="#">Baixar CV</a></button>
                </div>
            </div>
            
            
                        <div class="menu-icon">
                            <button (click)="funcaoCompartilhada()"><i class="material-symbols-outlined">menu</i></button>
                        </div>
        </nav>
    </header> -->



    <section class="container-sobre">

        <div class="title">
            <h1>Sobre</h1>
        </div>

        <div class="section-4">
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,.</p>
        </div>


    </section>

   
    
    </main>