<main class="container">
 
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1><a routerLink="">Port</a></h1>
            </div>


            <div class="nav-list">

                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
            </div>

            <div class="button-cv">
                <button><a href="#">Baixar CV</a></button>
            </div>
            
            
            
            
            <div class="mobile-menu">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/projetos">Projetos</a></li>
                    <li><a routerLink="/sobre">Sobre Mim</a></li>
                    <li><a routerLink="/tec">Tecnologias</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
                
                <div class="button-cv">
                    <button><a href="#">Baixar CV</a></button>
                </div>
            </div>
            
            
                        <div class="menu-icon">
                            <button (click)="funcaoCompartilhada()" class="btn-show"><i class="material-symbols-outlined">menu</i></button>
                        </div>
        </nav>
    </header> 



    <section class="container-sobre">

        <div class="title">
            <h1>Sobre</h1>
        </div>

        <div class="section-4">
            <p>
                Sou um desenvolvedor front-end apaixonado por tecnologia e com habilidades em Angular, JavaScript, CSS3 e HTML5. Embora não tenha experiência profissional, tenho trabalhado em projetos pessoais e acadêmicos para aprimorar minhas habilidades e conhecimentos em programação.
                <br>
                
                Durante meus estudos, participei de projetos acadêmicos que envolviam o desenvolvimento de aplicações web, tendo a oportunidade de aplicar meus conhecimentos em tecnologias de front-end e desenvolver interfaces atraentes e funcionais.
                <br>
            
                Além disso, também tenho trabalhado em projetos pessoais, como sites e aplicações web para fins pessoais ou de amigos, sempre buscando me desafiar e ampliar meus conhecimentos em programação.
                <br>
              
                Estou animado em fazer parte de projetos desafiadores e em aprender com desenvolvedores experientes, com o objetivo de me desenvolver ainda mais na área desenvolvimento front-end.
                <br>
              
                Sou uma pessoa dedicada, comprometida e proativa, e estou sempre em busca de novos desafios e oportunidades para me desenvolver profissionalmente. Estou aberto a estágios ou vagas júnior em empresas que valorizem o desenvolvimento pessoal e profissional de seus colaboradores.l</p>
        </div>


    </section>

   
    
    </main>