<main class="container">
  <section class="container-sobre">
    <div class="title">
      <h1>Sobre</h1>
    </div>

    <div class="section-4">
      <p>
        Sou um desenvolvedor front-end apaixonado por tecnologia e com
        habilidades em Angular, JavaScript, CSS3 e HTML5. Embora não tenha
        experiência profissional, tenho trabalhado em projetos pessoais e
        acadêmicos para aprimorar minhas habilidades e conhecimentos em
        programação.
        <br />

        Durante meus estudos, participei de projetos acadêmicos que envolviam o
        desenvolvimento de aplicações web, tendo a oportunidade de aplicar meus
        conhecimentos em tecnologias de front-end e desenvolver interfaces
        atraentes e funcionais.
        <br />
      </p>
    </div>
  </section>
</main>
