*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}



header {
    background-color: #000000;

  }





  .logo h1 a{
    color: #eee;
    font-weight: bolder;

  }

  .logo h1 a::after{
    content: 'fólio';
    color: #00ff7f;
  }


  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;

  }

  .logo {
    display: flex;
    align-items: center;
  }


  .nav-list {
    display: flex;
    align-items: center;
  }


  .nav-list ul {
    display: flex;
    justify-content: center;
  gap: 30px;
  }

  .nav-list ul li a{
   color: #eee;
   margin: 10px;
   padding: 5px;


  }




  .nav-list ul li a:hover{

    color: #00ff7f;
    transition: 0.5s;
  }



  .menu-icon {
    display: none;

  }
  .menu-icon i{

    color: white;
  }

  .mobile-menu {
    display: none;

  }



  .button-cv{
    display: flex;
  }


.button-cv button{

  background-color: #000000;
  border: transparent;
  padding: 5px;
  border-radius: 4px;
  }

  .button-cv button a{
    color: #ffffff;

   margin: 0;
  }



.button-cv-mobile button{

  background-color: #000000;
  border: transparent;
  padding: 5px;
  border-radius: 4px;
  }

  .button-cv-mobile button a{
    color: #ffffff;

   margin: 0;
  }




  @media screen and (max-width: 800px) {





  .logo {
    display: flex;
    margin-left: 20px;
    order: 2;
    position: absolute;

  }





    .nav-bar .nav-list {
      display: none;


      }

    .nav-bar{
      display: flex;
      flex-direction: column;

    }


    .button-cv {
      display: none;
    }



    .menu-icon {
     display: flex;
      order: 1;
      justify-content: flex-end;

    }



    .menu-icon .btn-show {

      background-color: transparent;
      cursor: pointer;
      border: none;

    }

    .menu-icon .btn-show i{
      font-size: 30px;
    }



    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 10px;
    }

    .mobile-menu ul li {
      display: block;
      padding-top: 10px;


    }
    .mobile-menu ul li a{

      color: #eee;
    }



    .mobile-menu .button-cv {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
    }



    .open {
      display: block;
      order: 3;
      padding: 10px;
      margin: 10px;
    }

  }





a{
    text-decoration: none;
}

body{
    background-color:#000000;


}

main{

    display: flex;
    width: 100%;
    flex-direction: column;

}

li{
    list-style: none;
}

/* Nav styles*/




footer {
    background-color: #000000;
    display: flex;
    bottom: 0;
    text-align: center;
    width: 100%;

}



.footer-caixa {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: #000000;
    border-top: 1px solid gray;
}


.footer-caixa div {
    padding: 10px;
    display: flex;
    flex-direction: column;


}




